<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.codeyang.auth.mapper.SystemMapper">

    <select id="selectOneByName" resultType="cn.codeyang.auth.entity.System">
        select * from t_system
        <where>
            <if test="name != null and name != ''">
                name = #{name}
            </if>
        </where>
        limit 1
    </select>
    <select id="selectOneByTitle" resultType="cn.codeyang.auth.entity.System">
        select * from t_system
        <where>
            <if test="title != null and title != ''">
                title = #{title}
            </if>
        </where>
        limit 1
    </select>


</mapper>