<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.codeyang.auth.mapper.RoleMapper">


    <select id="findByUserId" resultType="cn.codeyang.auth.api.entity.Role">
        select *
        from t_user_role t1
                 left join t_role t2 on t1.role_id = t2.id
        where t1.user_id = #{userId}
    </select>
    <select id="selectByName" resultType="cn.codeyang.auth.api.entity.Role">
        select * from t_role where name = #{name}
    </select>
</mapper>
