<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.codeyang.auth.mapper.UserMapper">

    <insert id="addRole">
        insert into t_user_role(user_id, role_id) values
        <foreach collection="roles" item="val" open="(" close=")" separator=",">
            #{userId}, #{val.id}
        </foreach>
    </insert>
    <update id="updateActivate">
        update t_user
        set activated      = #{activated},
            activation_key = #{activationKey}
        where id = #{id}
    </update>
    <select id="findByUsername" resultType="cn.codeyang.auth.api.entity.User">
        select *
        from t_user
        where username = #{username}
    </select>
    <select id="findByEmail" resultType="cn.codeyang.auth.api.entity.User">
        select *
        from t_user
        where email = #{email}
    </select>
    <select id="findOneByUsername" resultType="cn.codeyang.auth.api.entity.User">
        select *
        from t_user
        where username = #{username}
    </select>
    <select id="findOneByEmailIgnoreCase" resultType="cn.codeyang.auth.api.entity.User">
        select *
        from t_user
        where email = #{email}
    </select>
    <select id="findOneByActivationKey" resultType="cn.codeyang.auth.api.entity.User">
        select *
        from t_user
        where activation_key = #{key}
    </select>


</mapper>
